<h1 class="display-1">{{ heading }}</h1>


<form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <div class="row">
    <div class="mb-2 col-lg-6">
      <div class="row">
        <label for="horse-name" class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
          Name
        </label>
        <div class="col-md-10 col-lg-8">
          <input
            type="text"
            id="horse-name"
            name="horse-name"
            placeholder="Horse name"
            class="form-control"
            [class]="dynamicCssClassesForInput(horseNameModel)"
            [(ngModel)]="horse.name"
            #horseNameModel="ngModel"
            required>
          <div class="invalid-feedback">
            Name is required
          </div>
        </div>
      </div>
    </div>

    <div class="mb-2 col-lg-6">
      <div class="row">
        <label for="horse-date-of-birth" class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
          Date of Birth
        </label>
        <div class="col-md-10 col-lg-8">
          <input
            type="date"
            id="horse-date-of-birth"
            name="horse-date-of-birth"
            class="form-control"
            [class]="dynamicCssClassesForInput(horseDateOfBirthModel)"
            [(ngModel)]="horseBirthDateText"
            #horseDateOfBirthModel="ngModel"
            required>
          <div class="invalid-feedback">
            Date of birth is required
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="mb-2 col-lg-6">
      <div class="row">
        <label for="horse-sex" class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
          Sex
        </label>
        <div class="col-md-10 col-lg-8">
          <select
            class="form-select"
            id="horse-sex"
            name="horse-sex"
            [(ngModel)]="horse.sex"
            required>
            <option value="FEMALE">Female</option>
            <option value="MALE">Male</option>
          </select>
        </div>
      </div>
    </div>

    <div class="mb-2 col-lg-6">
      <div class="row">
        <label for="horse-owner" class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
          Owner
        </label>
        <app-autocomplete
          id="horse-owner"
          name="horse-owner"
          class="col-md-10 col-lg-8"
          textInputClass="form-control"
          valueNeedsToMatchSuggestion="true"
          [(ngModel)]="horse.owner"
          [formatModel]="formatOwnerName"
          [suggestions]="ownerSuggestions">
        </app-autocomplete>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="mb-2 col-lg-6">
      <div class="row">
        <label class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
          Mom
        </label>
        <div class="col-md-10 col-lg-8">
          <app-autocomplete
            id="parent-1"
            name="parent-1"
            class="col-md-10 col-lg-8"
            textInputClass="form-control"
            valueNeedsToMatchSuggestion="true"
            [(ngModel)]="horse.parent1"
            [formatModel]="formatHorseName"
            [suggestions]="parentSuggestions('mom')"
            (ngModelChange)="onParentSelected('mom', $event)">
          </app-autocomplete>
        </div>
      </div>
    </div>

    <div class="mb-2 col-lg-6">
      <div class="row">
        <label class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
          Dad
        </label>
        <app-autocomplete
          id="parent-2"
          name="parent-2"
          class="col-md-10 col-lg-8"
          textInputClass="form-control"
          valueNeedsToMatchSuggestion="true"
          [(ngModel)]="horse.parent2"
          [formatModel]="formatHorseName"
          [suggestions]="parentSuggestions('dad')"
          (ngModelChange)="onParentSelected('dad', $event)">

        </app-autocomplete>
      </div>
    </div>
  </div>


  <div class="row mb-2">
    <label for="horse-description" class="col-form-label text-md-end text-muted col-md-2">
      Description
    </label>
    <div class="col-md-10">
        <textarea
          class="form-control"
          id="horse-description"
          name="horse-description"
          [(ngModel)]="horse.description">
        </textarea>
    </div>
  </div>

  <div class="row mb-2">
    <label for="image" class="col-form-label text-md-end text-muted col-md-2">
      Upload image
    </label>
    <div class="col-md-10">
      <input type="file" id="image" (change)="imageUploaded($event)" accept="image/png, image/gif, image/jpeg" />
    </div>
  </div>

  <div class="row mb-2"  [hidden]="!imageAvailable">
    <label for="image" class="col-form-label text-md-end text-muted col-md-2">
      Preview
    </label>
    <div class="col-md-10">
      <div class="col-md-10">
        <img [src]="imagePreview" class="image-preview" alt="image-preview" >
      </div>
      <button type="button" class="btn btn-danger mt-2" (click)="removeImage()">Remove Image</button>
    </div>
  </div>



  <div class="mt-4 d-flex flex-row">
    <button
      class="btn btn-primary"
      [disabled]="!form.valid"
      type="submit">
      {{ submitButtonText }}
    </button>
  </div>
</form>


