<h1 class="display-1">Horse Information</h1>



  <div class="row">
    <div class="mb-2 col-lg-6">
      <div class="row">
        <label class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
          Name
        </label>
        <div class="col-md-10 col-lg-8">
          <label
            class="col-form-label text-md-start col-md-2 col-lg-4">
            {{horse.name}}
          </label>
        </div>
      </div>
    </div>

    <div class="mb-2 col-lg-6">
      <div class="row">
        <label class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
          Date of Birth
        </label>
        <div class="col-md-10 col-lg-8">
          <label
            class="col-form-label text-md-start col-md-2 col-lg-4">
            {{horseBirthDateText}}
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="mb-2 col-lg-6">
      <div class="row">
        <label class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
          Sex
        </label>
        <div class="col-md-10 col-lg-8">
          <label
            class="col-form-label text-md-start col-md-2 col-lg-4">
            {{horse.sex}}
          </label>
        </div>
      </div>
    </div>


    <div class="mb-2 col-lg-6">
      <div class="row">
        <label class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
          Owner
        </label>
        <label
          class="col-form-label text-md-start col-md-2 col-lg-4">
          {{formatOwnerName(horse.owner) || "N/A"}}
        </label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="mb-2 col-lg-6">
      <div class="row">
        <label class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
          Mom
        </label>
        <div class="col-md-10 col-lg-8">
          <label
            class="col-form-label text-md-start col-md-2 col-lg-4">
            {{horse.parent1?.name || "N/A"}}
          </label>
        </div>
      </div>
    </div>
    <div class="mb-2 col-lg-6">
      <div class="row">
        <label class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
          Dad
        </label>
        <label
          class="col-form-label text-md-start col-md-2 col-lg-4"
        >
          {{horse.parent2?.name || "N/A"}}
        </label>
      </div>
    </div>
  </div>
  <div class="row mb-2">
    <label class="col-form-label text-md-end text-muted col-md-2">
      Description
    </label>
    <div class="col-md-8">
      <textarea class="form-control"
                rows="5"
                readonly
                style="white-space: pre-line;">
        {{horse.description || "N/A"}}
      </textarea>
    </div>
  </div>

  <div class="row mb-2" >
    <label class="col-form-label text-md-end text-muted col-md-2">
      Picture
    </label>
      <div class="col-md-10" >
        <label [hidden]="imageAvailable" class="col-form-label text-md-start col-md-2 col-lg-4">
          N/A
        </label>
        <img [hidden]="!imageAvailable" [src]="imagePreview" class="image-preview"   alt="preview-image">
      </div>
  </div>

<div class="d-flex flex-row w-auto">
    <a class="btn btn-info mt-2"
       aria-label="Show horse details"
       [hidden]="!horse.parent1"
       (click)="visitHorse(horse.parent1.id)">
      <i class="bi bi-info-lg"></i>
      Mom
    </a>
    <a class="btn btn-info mt-2"
       aria-label="Show horse details"
       [hidden]="!horse.parent2"
        (click)="visitHorse(horse.parent2.id)"
    >
      <i class="bi bi-info-lg"></i>
      Dad
    </a>
    <a class="btn btn-warning mt-2"  (click)="editHorse()" aria-label="Edit horse">
      <i class="bi bi bi-gear"></i>
    </a>
    <a type="button" class="btn btn-danger mt-2" (click)="horseForDeletion = horse"
            data-bs-toggle="modal" data-bs-target="#delete-dialog" aria-label="Delete horse">
      <i class="bi bi-trash"></i>
    </a>

  <span style="flex: 1"></span>
    <a class="btn btn-secondary mt-2" (click)="viewFamilyTree(horseId)"
       aria-label="Show horse details">
      <i class="bi bi-tree-fill"></i>
      View Family-tree
    </a>
    <input class="mt-2" type="number" id="depth" [(ngModel)]="depth" min="1" max="10">


  </div>

<app-confirm-delete-dialog
  id="delete-dialog"
  [hidden]="!horseForDeletion"
  [deleteWhat]="horseForDeletion?.name"
  (confirm)="deleteHorse(horseForDeletion)">
</app-confirm-delete-dialog>


